body{
    font-family: 'Courier New', Courier, monospace;
}
#errors{
    background-color: rgb(161, 35, 35);
    color: #ffffff;
    padding: 20px;
    width: 50%;
}
.inputs{
    width: 50%;
    margin: 20px;
    
}
.inputs input {
    outline: none;
    border: 1px solid rgb(67, 74, 74);
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.inputs textarea {
    outline: none;
    border: 1px solid rgb(67, 74, 74);
    width: 100%;
    margin: 20px;
}
#submit-btn{
    border: none;
    padding:20px 50px;
    background-color: rgb(161, 35, 35);
    color: white;
    font-size: 20px;
}